@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

.color {
    background-color: red; 
}
.main_logo img{
 width: 280px; 
    margin-bottom: 150px; 
 
}

.main_logo {
    text-align: center; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monda', sans-serif;
     text-align: center; 
}


