.wrapper {
    margin: 0 auto;
    display: block;
    width: 100%;}
.toggle,
[id^="drop"] {
    display: none;
}

[id^="drop"]: checked + ul {
    display: block;
}



.toggle {
    display: block;
}

.toggle + a,
nav ul {
    display: none;
}

.toggle {
    padding: 1em 0;
}

nav {
    display: block;
    width: 100%;
    background-color: #2F4F4F;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 1em 0;
    border-top: thin solid #FFFFFF;
}


nav li: hover {
    background-color: #778899;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #DCDCDC;
}


nav {
    width: 30%;
    text-align: left;
    float: right;
}


nav li:hover {
    background-color: #708090;
}

  .toggle {
        display: none;
    }

    nav ul {
        display: block;
        list-style: none;
        float: right;
    }

    nav ul li {
        float: left;
        border-top: none;
        padding-right: 1em;
        margin-right: 1em;
    }

    nav li:hover {
        background-color: #2F4F4F;
        color: #DCDCDC;
    }

.spread-video > video {
  width: 100%;
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}









